/* Aside Container Styles */
.Aside-container {
  display: flex;
  flex-direction: column; /* Align music items vertically */
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align items to the top */
  width: 100%; /* Set to full width of its container */
  max-width: 320px; /* Limit max-width for better responsiveness */
  /* min-height: 400px; Set a reasonable height */
  height: 550px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 20px; /* Padding inside the container */
  background-color: #ffffff;
  border-radius: 20px; /* Reduced border radius for better look */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 12px 40px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; /* Ensure padding and borders are included in width and height */
}
.Aside-container::-webkit-scrollbar {
  display: none;
}

/* Music Item Styles */
.music-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out elements evenly */
  width: 100%;
  padding: 15px; /* Padding for spacing */
  margin-bottom: 15px; /* Space between music items */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth background and text transition */
  border-radius: 10px; /* Smoother rounded corners */
  box-sizing: border-box;
  gap: 1rem;
}

.music-item:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.music-item img {
  width: 50px;
  height: 50px; /* Set fixed height to keep aspect ratio */
  border-radius: 8px; /* Rounded corners for images */
  margin-right: 15px; /* Space between image and text */
}

.music-item.active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius: 10px;
}

.music-item.active img {
  opacity: 0.7; /* Dim the image when active */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
}
